.Open_Sans {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
}

.line-through {
    text-decoration: line-through;
}

.center {
    text-transform: uppercase;
    text-align: center;
}

.wavy {
    word-spacing: 30px;
    text-decoration: overline wavy;
    color: #560277;
}
.double {
    letter-spacing: 5px;
    text-decoration: underline double;
}