/* ===== header ===== */
header {
    grid-template-columns: auto auto;
}

nav {
    grid-column: span 2;
    grid-row-start: 2;
}

/* ===== main ===== */

section {
    margin-bottom: 10vw;
}

/* ===== aside ===== ----------*/
.catalog__list {
    margin: 30px 2.5vw;
}

/* ===== section.gallery ===== ----------*/
.gallery {
    grid-template-columns: repeat(2, minmax(auto, 424px));
    gap: 2vw;
}

.hits__offering{
    width: 100%;
    padding-bottom: 84.37%;
}

.hits_keyboard {
    padding: 2.5vw 4vw;
}