.advantages {}

.container {}

.advantages__inner {
    margin-bottom: 143px;
}

.advantages__flex {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 21px;
}

.advantages__advantage {
    display: flex;
    flex-direction: column;
    
    max-width: 378px;
    width: 100%;
    max-height: 442px;
    padding: 44px 33px 30px 44px;

    text-align: start;

    border-radius: 5px;
    background: #1B1B1C;
}

.advantages__advantage:hover {
    background: rgb(40, 40, 40);
}

.advantages__icon {
    margin-bottom: 30px;
}

.advantages__title {
    margin-bottom: 35px;

    font-size: 26px;
    font-weight: 500;
    line-height: 1.252;
}

.advantages__text {
    margin-bottom: 12px;
    flex-grow: 1;

    font-size: 22px;
    line-height: 1.567;
}

.advantages__indicator {
    display: flex;
    justify-content: end;
    gap: 8px;
}

.advantages__indicator::before {
    content: 'Подробнее';

    font-size: 18px;
    line-height: 1.567;
}

.advantages__indicator::after {
    content: '→';

    transition: var(--transition);
    font-size: 18px;
    line-height: 1.567;
}

.advantages__advantage:hover .advantages__indicator::after{
    transform: translateX(8px);
}