.aside__inner {
    line-height: normal;
    display: flex;
    align-items: center;
    padding: 29px 43px 32px 12px;
    border-radius: var(--border-radius);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
    gap: 5px 10px;
}

.box-aside {
    display: flex;
    align-items: center;
    gap: 17px;
    font-size: 18px;
    width: 100%;
}

.aside__content {
    width: 100%;
}

.aside__img img {
    width: 100%;
    transform: rotate(-17.5deg);
}

.aside__title {
    font-weight: 500;
    margin-bottom: 2.5px;
}

.timer {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.timer__inner {
    display: flex;
    gap: 2px;
    align-items: end;
}

.timer__number {
    display: inline-block;
    font-size: 30px;
    width: 40px;
}

.timer__letter {
    font-size: 20px;
}