/* Общее */
.header {
    width: 100%;
    font-family: "Gotham Pro";
    font-size: 18px;
    line-height: normal;
    margin-top: 38px;
}

.header__inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding-right: 14px;
}

/* Коробка для бургера и логотипа */
.box-header {
    display: flex;
    align-items: center;
    gap: 14px;
    transform: translateY(-12.1212%);
    z-index: 11;
}

.burger-icon {
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 32px;
    height: 32px;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::after {
    display: block;
    border-radius: 100px;
    background: var(--accent-text);
}

.burger-icon span {
    position: relative;
    height: 9%;
    width: 100%;
    margin: 16% 0;
}

.burger-icon span::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 60%;
    bottom: -225%;
}

.burger-icon:hover span,
.burger-icon:hover span::after {
    background: linear-gradient(87deg, #DC6B30 17.99%, #E4864F 49.64%, #FFBE82 72.7%, #E49031 93.02%);
}

.body--opend-menu .burger-icon span {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.body--opend-menu .burger-icon span:first-child {
    transform: rotate(-45deg);
}

.body--opend-menu .burger-icon span:last-child {
    transform: rotate(45deg);
}

.body--opend-menu .burger-icon span::after {
    display: none;
}

.header__logo-mobile {
    display: none;
}

/* Навигация */
.nav {
    max-width: 1373px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

/* === Навигация по странице и смена языка страницы */
.nav__page {
    display: grid;
    max-width: 773px;
    width: 100%;
}

.nav__page-inner {
    display: flex;
    justify-content: space-between;
    gap: 12vh 15px;
}

.langs-box {
    position: relative;
}

.lang__acronym {
    padding: 0 3px 0 6px;
}

.langs-box--opened .lang__arrowheadc {
    transform: rotate(180deg);
}

.lang {
    padding: 10px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    cursor: pointer;
}

.langs-box__selection {
    position: absolute;
    overflow: hidden;
    scroll-snap-type: y mandatory;
    max-height: 0;
    transition: var(--transition);
    background: var(--general-bg);
}

.langs-box--opened .langs-box__selection {
    max-height: 129px;
    overflow: overlay;
}

.langs-box__selection::-webkit-scrollbar {
    width: 8px;
}

.langs-box__selection::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 20px;
}

.nav__links {
    max-width: 632px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10vh 40px;
}

.nav__link {
    position: relative;
}

.nav__img {
    position: absolute;
    top: 50%;
    left: 100%;
    padding-left: 7px;
    transform: translateY(-50%);
    transition: all .1s;

    opacity: 0;
    visibility: hidden;
}

.nav__link:hover {
    background: radial-gradient(3992.22% 112.45% at 8.04% 17.65%, #E7AA19 0%, #CB6D9C 100%);
    color: transparent;
    background-clip: text;
}

.nav__link:hover .nav__img {
    opacity: 1;
    visibility: visible;
}


/* === Навигация по сайту (Кнопки) */
.nav__site {
    max-width: 339px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.nav__site .nav__login {
    padding: 21px 28px;
    border-radius: var(--border-radius);
    width: auto;
}

.nav__site .nav__register {
    font-size: 18px;
    padding: 24px 35px;
    max-width: none;
    width: auto;
    border-radius: var(--border-radius);
}