.questions__inner {
    margin-bottom: 185px;
}

.questions__flex {
    display: flex;
    row-gap: 4.2016vw;
}

.questions__heading {
    text-align: start;
    min-width: 531px;
}

.questions__button {
    position: absolute;
    bottom: 0;
    transition: var(--transition);
    transform: translateY(25%);
}

.accordion-button {
    display: none;
    margin: 0 auto;
}

.accordion-list {
    display: flex;
    flex-direction: column;
    gap: 75px;
}

.accordion-list__item {
    border: 1px solid var(--accent-color);
    border-radius: var(--border-radius);
    font-size: 35px;
}

.accordion-list__control {
    cursor: pointer;

    width: 100%;
    background: transparent;
    text-align: left;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    line-height: 1.172;
    transition: var(--transition);
}

.accordion-list__control-title {
    display: flex;
    align-items: center;
    gap: 82px;
}

.accordion-list__control-title::before {
    display: flex;
    align-items: center;
    justify-content: center;

    content: '?';
    font-weight: 500;

    flex-shrink: 0;
    height: 1.3714em;
    width: 1.3714em;
    border-radius: 50%;

    background: #24242D;
}

.accordion-list__item--opened .accordion-list__control {
    transition: 0s;
    transition-delay: 0.05s;
    padding-bottom: 40px;
}

.accordion-list__icon {
    border-radius: 50%;
    width: 1.3714em;
    height: 1.3714em;
    border: 3px solid #272932;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;

    transition: var(--transition);
}

.accordion-list__icon svg {
    margin-top: 3px;
    width: 0.6571em;
    height: 0.4285em;
}

@media (hover: hover) and (pointer: fine) {
    .accordion-list__control:hover .accordion-list__icon {
        border-color: #62666F;
    }

    .accordion-list__control:hover .accordion-list__icon line {
        transition: var(--transition);
        stroke: #62666F;
    }

    .accordion-list__control:hover .accordion-list__control-title::before {
        background: linear-gradient(150deg, #6BA758 21.14%, #23503D 81.17%);
    }
}

.accordion-list__item--opened .accordion-list__icon {
    border-color: #62666F;
}

.accordion-list__item--opened .accordion-list__icon line {
    transition: var(--transition);
    stroke: #62666F;
}

.accordion-list__item--opened .accordion-list__control-title::before {
    background: linear-gradient(150deg, #6BA758 21.14%, #23503D 81.17%);
}

.accordion-list__content {
    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.accordion-content {
    padding: 0 30px 40px;
    text-align: start;
    font-size: 0.9em;
}