@import "global.css";
@import "header.css";
@import "aside.css";
@import "hero.css";
@import "income.css";
@import "tools.css";
@import "manual.css";
@import "bonus.css";
@import "advantages.css";
@import "portfolio-selection.css";
@import "indicators.css";
@import "app.css";
@import "questions.css";
@import "contact.css";
@import "footer.css";
@import "media.css";