.app__inner {
    
}

.app__flex {
    display: flex;
    align-items: center;
}

.app__flex--desktop{
    margin-bottom: 240px;
}

.app__flex--mobile {
    padding-right: 10%;
    margin-bottom: 280px;
}

.app__heading {
    text-align: start;
    max-width: 525px;
    width: 130vw;
    position: static;
}

.app__flex--desktop .app__heading {
    transform: translateY(-12.5%);
}

.app__background {
    position: relative;
    width: 100%;
}

.app__flex--desktop .app__background {
    max-height: 689px;
    height: 42.8216vw;
}

.app__flex--mobile .app__background {
    max-height: 529px;
    height: 32.8775vw;
}

.app__picture {
    z-index: -1;
    overflow: visible;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    object-fit: cover;
}

.app__flex--desktop .app__picture {
    width: 100%;
    transform: translate( 0, -50%);
}

.app__flex--mobile .app__picture {
    width: 120%;
    transform: translate(-12.5%, -52%);
}


.app__buttons {
    margin-top: 52px;
    display: flex;
    gap: 20px;
}

.app__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6.8367%;

    font-size: 16px;
    line-height: 1.262;

    max-width: 245px;
    width: 100%;
    border-radius: 35px;
    border: 2px solid rgba(255, 255, 255, 0.60);
    padding: 4% 2%;
}

.app-button-icon {
    height: 1.25em;
}