.bonus__inner {
    position: relative;
    margin-bottom: 235px;
}

.bonus__bacground-text {
    position: absolute;
    top: -60%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;

    font-size: 200px;
    font-weight: 700;
    line-height: 117.2%;

    background: linear-gradient(193deg, #4B5951 11.55%, rgba(61, 82, 70, 0.10) 69.07%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bonus__control {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;
}

.bonus__bacground-left {
    position: absolute;
    top: -120%;
    right: 60%;

    z-index: -1;
}

.bonus__bacground-right {
    position: absolute;
    top: -125%;;
    left: 75%;

    z-index: -1;
}