.contact__inner {
    position: relative;
    margin-bottom: 138px;
}

.contact__list {
    margin-top: 96px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: start;
    gap: 50px;

    margin-bottom: 132px;
}

.contact__item {
    position: relative;
    display: flex;
    flex-direction: column;
}

.contact__pictures {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.contact__icon {
    border-radius: 24%;
    overflow: hidden;
    flex-shrink: 0;
}

.contact__icon img {
    width: 100%;
}

.contact__arrow-box {
    display: flex;
    align-items: center;
}

.contact__arrow {
    max-width: 100%;
    min-height: 10px;
}

.contact-arrow-line {
    display: flex;
    align-items: center;
    width: 18vw;
    max-width: 280px;
    overflow: hidden;
}

.contact-arrow-line svg {
    flex-shrink: 0;
}

.contact__number-backgound {
    display: none;
}

.contact__step-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.contact__step {
    margin-bottom: 30px;
    min-height: 95px;
    max-width: 464px;
}

.contact__step-description {
    max-width: 377px;
    min-height: 209px;
}

.contact__form {
    display: flex;
    justify-content: center;
    gap: 21px;
    flex-wrap: wrap;
}

.contact__img img {
    width: 100%;
    filter: drop-shadow(0 4px 30px #c6b0a14d);
}

.contact__body {
    max-width: 420px;
}

.contact__title {
    margin-bottom: 20px;
}

.contact__text {
    margin-bottom: 40px;
}

.contack__labal {
    margin-bottom: 10px;
}

.contact__input {
    display: block;

    font-size: 22px;
    line-height: 1.587;

    padding: 31.55px 45px;

    transition: var(--transition);
    color: white;
    max-width: 376px;
    border-radius: 20px;
    border: 4px solid rgb(102, 102, 102);
    background: #202020;
}

input:-webkit-autofill {
    border-color: rgb(102, 102, 102);
    box-shadow: 0 0 0px 1000px #202020 inset;
    -webkit-text-fill-color: white;
}

input:-webkit-autofill:hover {
    box-shadow: 0 0 0px 1000px #363636 inset;
}

.contact__input::placeholder {
    color: white;
}

.contact__input:hover {
    transition: var(--transition);
    background: #363636;
    border-color: rgb(136, 136, 136);
}