.footer {
    background: #202020;
    position: relative;
    padding: 95px 0 115px;
}

.footer::before {
    content: '';
    background: radial-gradient(#98C269 35%, #9EDFB6 65%);
    position: absolute;
    bottom: 100%;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    filter: blur(200px);
    z-index: -1;
    transform: translateY(80%);
}

.footer__inner {}

.footer__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer__social-col {
    display: flex;
    flex-direction: column;
}

.footer__logo {
    transform: translateY(-5px);
}

.footer__social {
    display: flex;
    gap: 10px;
}

.footer__link {
    display: block;
    margin-top: 15px;
    border-radius: 50%;
    text-decoration: underline;
}

.footer__tel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer__text {}

.footer__tel-link {
    font-weight: 500;
    font-size: 24px;
}

footer .button-light {
    padding-top: 24px;
    padding-bottom: 24px;
    width: auto;
}