:root {
    --border-radius: 20px;
    --accent-text: #FFF;
    --text: #EAE9E9;
    --general-bg: #0E0E12;
    --transition: 0.4s;
}

body {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    line-height: 1.582;
    font-weight: 400;
    color: var(--accent-text);
    background: var(--general-bg);
    min-width: 320px;
}

.body--opend-menu {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
}

.container {
    max-width: 1639px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.container-2 {
    width: 100%;
    padding-left: 35px;
}

.button-dark {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    color: var(--accent-text);
    font-size: 22px;
    font-weight: 400;
    border-radius: var(--border-radius);
    border: 1px solid #FF8924;
    flex-shrink: 0;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 376px;
    width: 100%;
}

.button-light {
    display: block;
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 22px;
    font-weight: 700;
    border-radius: var(--border-radius);
    background: linear-gradient(87deg, #DC6B30 17.99%, #E4864F 49.64%, #FFBE82 72.7%, #E49031 93.02%);
    box-shadow: 0 3px 49px -3px rgba(226, 128, 72, 0.76), 0 -4px 0 0 #8F4119 inset;
    flex-shrink: 0;
    line-height: normal;
    padding: 35px 15px;
    max-width: 376px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    font-family: "Gotham Pro";
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 117.2%;
}

.heading {
    position: relative;
}

.heading__text {
    margin-top: 25px;
    color: var(--text);
    font-size: 25px;
}

.nowrap {
    white-space: nowrap;
}

.number-backgound {
    position: absolute;
    top: -80px;
    left: 320px;

    text-align: center;
    font-size: 300px;
    font-weight: 700;
    line-height: 1.172;

    background: linear-gradient(180deg, rgba(61, 79, 59, 0.37) 0%, rgba(61, 79, 59, 0.00) 100%);
    background-clip: text;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.step {
    font-size: 35px;
    font-weight: 500;
    line-height: 1.302;
}

.step-description {
    font-size: 22px;
    line-height: 1.587;
}