@media (max-width: 1600px) {

    /* hero */
    .hero__content {
        max-width: 60vw;
    }

    /* manual */
    .manual__list {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    /* app */
    .app__flex--mobile {
        padding-right: 0;
    }

    /* footer */
    .footer {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 1350px) {

    /* tools */
    .tools__support {
        align-self: start;
        position: sticky;
        top: calc(50% - 35px);
    }

    /* .portfolio-selection */
    .portfolio-selection__inner {
        flex-direction: column-reverse;
        padding-left: 0;
    }

    .portfolio-selection__progressbar {
        width: 73vw;
        height: 37vw;
        margin-top: 6.4636vw;
    }

    .portfolio-selection__settings-control {
        margin-top: 3.1851vw;
    }

    .button-light--mobile {
        display: block;
    }

    .portfolio-selection__heading {
        text-align: center;
        width: 100%;
        min-width: auto;
    }

    .portfolio-selection__text {
        max-width: none;
        margin-bottom: 0;
    }

    .button-light--desktop {
        display: none;
    }

    /* app */
    .app__flex--desktop .app__heading {
        transform: translateY(0);
    }
}

@media (max-width: 1190px) {

    /* Общее */
    .header__inner {
        padding-right: 0;
    }

    .wrapper {
        gap: 2.9412vw;
    }

    /* header */

    .header {
        margin-top: 3vw;
    }

    .burger-icon {
        display: flex;
    }

    .nav {
        width: auto;
        justify-content: end;
    }

    .nav__page {
        position: fixed;
        max-width: none;
        background: var(--general-bg);
        inset: 0;
        z-index: 10;

        /* border вместо падинга, так как overflow не ограничевается падингом, а border-ом - да */
        border-width: calc(3vw + 66px) 15px 30px;
        border-style: solid;
        border-color: var(--general-bg);

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
        overflow-y: auto;
    }

    .body--opend-menu .nav__page {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .nav__page-inner {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .nav__links {
        flex-direction: column;
    }

    /* aside */
    .aside__inner {
        justify-content: start;
        flex-wrap: wrap-reverse;
    }

    .box-aside {
        flex-direction: row-reverse;
    }

    /* hero */
    .hero__content {
        max-width: 74.4vw;
    }

    .hero__inner {
        flex-direction: column;
    }

    .hero__decor {
        min-height: 65vw;
    }

    .hero__background {
        height: 95vw;
        left: -1vw;
        top: -10vw;
    }

    /* income */
    .income__companies-inner {
        margin: 4.8vw 0;
    }

    .income__companies-inner .income__company {
        margin: 0;
    }

    .income__inner {
        margin-bottom: 13.6134vw;
    }


    /* tools */
    .tools__inner {
        margin-bottom: 11.6806vw;
    }

    .tools__title {
        margin-bottom: 7.8151vw;
    }

    .tools__list {
        padding: 8.4033vw 15px;
    }

    /* manual */
    .manual__inner {
        margin-bottom: 44.6218vw;
    }

    .manual__list {
        margin-top: 8.0672vw;
    }

    /* bonus */
    .bonus__inner {
        margin-bottom: 19.7478vw;
    }

    /* advantages */
    .advantages__inner {
        margin-bottom: 12.0168vw;
    }

    .advantages__flex {
        margin-top: 6.7226vw;
    }

    .advantages__advantage {
        padding: 3.6974vw 2.7731vw 2.5210vw 3.6974vw;
    }

    /* portfolio-selection */
    .portfolio-selection__inner {
        margin-bottom: 17.8991vw;
    }

    /* indicators */
    .indicators__inner {
        margin-bottom: 20.6722vw;
    }

    .indicators__item {
        margin: 0 auto;
    }

    .indicators__number {
        margin-bottom: 1.6806vw;
    }

    /* app */
    .app__flex--desktop {
        margin-bottom: 20.168vw;
    }

    .app__flex--mobile {
        margin-bottom: 23.5294vw;
    }

    .app__buttons {
        margin-top: 4.3697VW;
    }

    /* questions */
    .questions__inner {
        margin-bottom: 15.5462vw;
    }

    .questions__flex {
        flex-direction: column;
    }

    .questions__heading {
        text-align: center;
        min-width: auto;
    }

    .accordion-list {
        display: flex;
        flex-direction: column;
        gap: 75px;
    }

    .questions__button {
        display: none;
    }

    .accordion-button {
        display: flex;
    }

    .accordion-list {
        gap: 6.3025vw;
    }

    .accordion-list__control-title {
        gap: 6.8907vw;
    }

    /* contact */
    .contact__inner {
        margin-bottom: 11.5966vw;
    }

    .contact__list {
        grid-template-columns: 1fr;
        justify-self: center;
        margin-top: 8.0672vw;
        margin-bottom: 11.0924vw;
    }

    .contact__icon {
        width: 11.3445vw;
        min-width: 60px;
        flex-shrink: 1;
    }

    .contact__arrow-box {
        display: none;
    }

    .contact__number-backgound {
        display: block;
    }

    .contact__step {
        min-height: auto;
        max-width: 10em;
    }

    .contact__step-description {
        min-height: auto;
    }
}

@media (max-width: 980px) {
    .income__companies-autoswiper {
        width: calc(100% + 30px);
        position: absolute;
        left: -15px;
    }

    .income__companies-autoswiper:before,
    .income__companies-autoswiper:after {
        content: '';
        position: absolute;
        top: 0;
        /* width: 8.8vw; */
        height: 100%;
        z-index: 1;
        box-shadow: 0 0 100px 8.8vw rgba(0, 0, 0, 1);
    }

    .income__companies-autoswiper:before {
        left: 0;
    }

    .income__companies-autoswiper:after {
        right: 0;
    }

    .income__companies-content {
        position: absolute;
        padding: 0 5px;
        animation: slidein 10s infinite;
        left: 0
    }

    @keyframes slidein {
        0% {
            transform: translateX(0);
        }

        50% {
            transform: translateX(calc(100vw - 100%));
        }

        100% {
            transform: translateX(0);
        }
    }

    /* bonus */

    .bonus__bacground-right,
    .bonus__bacground-left {
        display: none;
    }

    /* app */
    .app__flex--mobile {
        margin-bottom: 35.2941vw;
    }

    .app__buttons {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        min-width: 320px;
        max-width: 500px;
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 860px) {

    /* Общее */
    .button-light {
        box-shadow: none;
    }

    .title {
        font-size: max(6.6667vw, 12px);
    }

    .heading__text {
        margin-top: 3.2vw;
    }

    .button-light,
    .button-dark {
        border-radius: 1.0667vw;
        font-size: max(2.6667vw, 12px);
        width: 39vw;
        padding: 3.2vw 15px;
        font-weight: 500;
    }


    .step {
        font-size: max(4.0697vw, 12px);
        margin-bottom: 3.3720vw;
    }

    .step-description {
        font-size: max(2.5581vw, 12px);
    }

    .number-backgound {
        top: -8.3023vw;
        left: 38.2093vw;

        font-size: max(34.8837vw, 12px);
        transform: translateX(20%);
    }


    /* hero */
    .hero__inner {
        margin-bottom: 8vw;
    }

    .hero__title {
        font-size: max(8vw, 12px);
    }

    .hero__list {
        font-size: max(3.2vw, 12px);
        margin-bottom: 4vw;
    }

    .hero__control {
        margin-bottom: 5vw;
        gap: 2.3255vw;
    }

    .hero__control-decor {
        width: 5.5813vw;
        min-width: 15px;
        left: calc(-5.5813vw - 10px);
        bottom: 5.7907vw;
    }

    .hero__button-dark,
    .hero__button-light {
        border-radius: 1.0667vw;
        font-size: max(2.6667vw, 12px);
    }

    .hero__button-light {
        font-weight: 500;
        padding: 3.2vw 4vw 3.2vw 1vw;
    }

    .button-dark {
        padding: 3.2vw 0;
    }

    .hero__button-icon {
        position: absolute;
        transform: rotate(15.5deg);
        top: 0.1vw;
        right: -3vw;
        height: 8vw;
    }

    .hero__users-ava {
        height: 28px;
    }

    .hero__users-text {
        font-size: max(2.6667vw, 12px);
    }

    .income__text {
        margin-bottom: 3.4667vw;
    }

    /* tools */
    .tools__tool-icon {
        width: 13.9534vw;
    }

    .tools__name {
        font-size: max(3.2vw, 12px);
    }

    .tools__description {
        font-size: max(2.6667vw, 12px);
    }

    /* manual */
    .manual__item {
        position: relative;
        max-width: 377px;
    }

    .manual__number {
        font-size: max(2.4418vw, 12px);
        margin-bottom: 2.3255vw;
    }

    .manual__step {
        min-height: 16.0465vw;
    }

    /* bonus */

    .bonus__control {
        margin-top: 6.9767vw;
    }

    .bonus__bacground-text {
        font-size: max(23.2558vw, 12px);
    }

    /* advantages */
    .advantages__icon {
        margin-bottom: 3.4883vw;
        width: 7.093vw;
    }

    .advantages__title {
        font-size: max(3.0232vw, 12px);
        margin-bottom: 4.0697vw;
    }

    .advantages__text {
        font-size: max(2.5581vw, 12px);
        margin-bottom: 1.3953vw;
    }

    .advantages__indicator::before,
    .advantages__indicator::after {
        font-size: max(2.0930vw, 12px);
    }

    /* portfolio-selection */
    .portfolio-selection__progressbar-procent {
        font-size: max(7.5581vw, 12px);
    }

    .portfolio-selection__progressbar-procent::before {
        font-size: max(3.4883vw, 12px);

    }

    .portfolio-selection__progressbar-procent::after {
        font-size: max(2.093vw, 12px);
        margin-top: 1.8604vw;
        max-width: max(20.3488vw, 100px);
    }

    .portfolio-selection__radio-text {
        font-size: max(2.9069vw, 12px);
    }

    .portfolio-selection__radio-checkbox {
        font-size: max(2.9069vw, 12px);
    }

    /* indicators */

    .indicators__list {
        gap: 4.0116vw;
    }

    .indicators__number {
        font-size: max(8.1395vw, 12px);
    }

    .indicators__text {
        font-size: max(3.0232vw, 12px);
    }

    /* app */

    .app__buttons {
        gap: 2.3vw;
    }

    .app__button {
        font-size: max(1.8vw, 12px);
        max-width: 45vw;
    }

    /* questions */
    .accordion-list__item {
        font-size: max(4.0697vw, 12px);
    }

    /* contact */
    .contact__form {
        gap: 2.4418vw;
    }

    .contact__input {
        padding: 3.6686vw 5.2325vw;
        font-size: max(2.5581vw, 12px);
        border-radius: 2.3255vw;
        border-width: .4651vw;
    }
}

@media (max-width: 712px) {

    /* Общее */
    .heading__text {
        font-size: max(3.2vw, 12px);
    }

    /* income */
    .income__companies-inner {
        min-height: 40.1685vw;
    }

    .income__companies-autoswiper {
        min-height: 40.1685vw;
    }

    .income__companies-content {
        min-height: 40.1685vw;
    }

    .income__logo-company {
        width: 20.2247vw;
        min-width: 70px;
    }

    .income__percent {
        color: #4BD879;
        font-size: max(3.2vw, 12px);
        line-height: 1.302;
    }

    .income__nominal-value {
        font-size: max(2.6667vw, 12px);
        width: 17.4157vw;
        height: 5.0562vw;
    }

    .income__text {
        font-size: max(3.2vw, 12px);
    }
}

@media (max-width: 630px) {

    /* header */
    .burger-icon {
        height: 16px;
        width: 16px;
    }

    .header__logo {
        display: none;
    }

    .header__logo-mobile {
        display: block;
    }

    .nav__page {
        border-top-width: calc(3vw + 35px);
    }

    .nav__site {
        gap: 8px;
    }

    .nav__site .nav__login,
    .nav__site .nav__register {
        border-radius: 4px;
        font-size: 12px;
        padding: 7px 15px;
    }

    .nav__site .nav__register {
        font-weight: 500;
    }

    /* aside */
    .aside {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
    }

    .aside__inner {
        background: transparent;
        padding: 8px 0 12px;
    }

    .box-aside {
        font-size: max(2.6667vw, 12px);
    }

    .aside__img {
        max-width: 20px;
        max-height: 20px;
    }

    .aside__title {
        font-weight: 500;
    }

    .timer__number {
        font-size: max(2.6667vw, 12px);
        width: 3.5vw;
    }

    .timer__letter {
        font-size: max(2.6667vw, 12px);
    }

    .timer__br {
        font-size: max(2.6667vw, 12px);
    }

    /* hero */
    .hero__control-decor {
        bottom: 2.3809vw;
    }

    /* footer */
    .footer__flex {
        flex-direction: column;
        align-items: center;
    }

    .footer__social {
        display: flex;
        gap: 10px;
        margin: 0 auto;
    }
}

@media (max-width: 490px) {
    .hero__control-decor {
        bottom: -5px;
    }

    /* manual */
    .number-backgound {
        left: none;
        right: 0;
    }

    /* hero */
    .hero__control-decor {
        bottom: -20px;
    }

    /* income */
    .income__nominal-value {
        font-size: 12px;
    }

    /* tools */
    .tools__description {
        font-size: 12px;
    }

    /* manual */
    .manual__number {
        font-size: 12px;
    }

    .manual__step-description {
        font-size: 12px;
    }
}

@media (max-width: 360px) {

    /* Общее */
    header .container-2,
    aside .container-2 {
        width: 100%;
        /* убираю отступ слева (вапреки макету), чтобы можно было дотянуть до 320px */
        padding-left: 0;
    }
}